.container {
    padding: 20px;
    background-color: #f9f9f9;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
}

.button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.table th {
    background-color: #f2f2f2;
    text-align: left;
}

.tol {
    color: green;
    font-weight: bold;
}

.pler {
    color: red;
    font-weight: bold;
}
